@model Models.Cupom
@{
    ViewBag.Title = "Cupom";
}

<div class="row">
    <h3>Cupom</h3>
</div>
<br />
<div class="row">
    <a href="/Cupom/Cupons" class="btn btn-default">Retornar</a>
</div>
<br />
<h5 style="color:red">@ViewBag.Erro</h5>
@using (Html.BeginForm("Cupom", "Cupom", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-4">
            @if (Model.DataDesabilitado != null)
            {
                <div class="form-group">
                    <label>Data Desabilitado: </label><span>@{((DateTime)Model.DataDesabilitado).ToString("dd/MM/aaaa");}</span>
                </div>
            }
            <div class="form-group">
                <label>Codigo: </label>@if (Model.CodCupom > 0)
                {<span>@Model.CodCupom</span>}
            </div>
            <input type="hidden" name="CodCupom" value="@Model.CodCupom" />
            <div class="form-group">
                <label>Código do Cupom</label>
                <input type="text" class="form-control" name="Codigo" value="@Model.Codigo" maxlength="50">
            </div>
            <div class="form-group">
                <label>Valor do Cupom</label>
                <input type="text" class="form-control" name="Valor" value="@Model.Valor">
            </div>
            <div class="form-group">
                <label>Data do Cupom</label>
                <input type="text" class="form-control dataBr" name="Data" value="@Model.Data.ToString("dd/MM/yyyy")" placeholder="dd/mm/aaaa">
            </div>
            @if (Model.CodCupom > 0)
            {
                <a onclick="Remover(@Model.CodCupom)" class="btn btn-danger">X</a>
            }
            <input type="submit" class="btn btn-default" value="Salvar" />
        </div>
    </div>
}

@section scripts{
    <script>
        function Remover(cod) {
            if (confirm('Tem certeza que deseja remover?'))
                window.location.href='../Cupom/Remover?codCupom='+cod;
        }
    </script>
}
