@model List<Models.Pedido>
<br />
<br />
<div style="display: flex;justify-content: center;">
    <form id="formCod" method="post" action="/Influenciadores" style="width:700px;margin:0 30px">
        <h4 class="mtext-105 cl2 txt-center p-b-30">Verificar vendas realizadas com meu código</h4>
        <div class="bor8 m-b-20 how-pos4-parent">
            <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="codigo" placeholder="Código" style="font-size: 16px;padding: 17px;" maxlength="90">
        </div>
        <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer" onclick="if ($(`input[name='codigo']`).val().length > 0) { $(`input[name='codigo']`).parent().css('border', '1px solid #e6e6e6'); return true; } else { $(`input[name='codigo']`).parent().css('border', '1px solid red'); return false; }">
            Verificar
        </button>
    </form>
</div>
<br />
@foreach (var p in Model.OrderByDescending(x => x.CodPedido))
{
    if (p.LogStatusPedido.Where(x => x.CodStatusPedido == (int)Servicos.Util.StatusPedido.PagamentoAutorizado).FirstOrDefault() != null)
    {
        <div style="display: flex;justify-content: center;">
            <div class="card" style="border:none;width:700px;margin:0 30px">
                <table class="table table-bordered card-header accordion" style="background-color: white;">
                    <tr>
                        <td colspan="3">
                            <div>
                                <span>Nº Pedido: </span><span class="txtValues">@p.CodPedido</span>
                            </div>
                            <div>
                                @p.Data.ToString("dd MMM, yyyy")
                            </div>
                            @{
                                int totalItens = 0;
                                p.ItensPedido.ForEach(x =>
                                {
                                    totalItens += x.Quantidade;
                                });
                            }
                            <div>
                                Itens: <span class="txtValues">@totalItens<span>x</span></span>
                            </div>
                            @if (p.DataPrevista != null)
                            {
                                <div>
                                    Previsão de Entrega: <span class="txtValues">@Convert.ToDateTime(p.DataPrevista).ToString("dd/MM/yyyy")</span>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding: 0;">
                            <div class="card-body acc_@p.CodPedido slider" style="padding: 0;">
                                <table style="width: 100%;">
                                    @foreach (var item in p.ItensPedido)
                                    {
                                        <tr>
                                            <td style="padding:0">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td rowspan="2" style="vertical-align: middle; text-align: center;border:none;width: 100px;min-width: 100px;">
                                                            <a href="/Produto/@item.Produto.Nome.Replace(' ', '-')"><img src="@item.Produto.UrlImgASmall" width="100" height="100" alt="@item.Produto.Nome" title="@item.Produto.Nome" /></a>
                                                        </td>
                                                        <td style="border:none;vertical-align: middle;">
                                                            <a href="/Produto/@item.Produto.Nome.Replace(' ', '-')" title="@item.Produto.Nome"><span class="txtValues">@item.Produto.Nome</span></a><br />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div><br />
    }
}
